<div class="container">

  <div class="h-100 p-5 text-white bg-dark rounded-3 my-5">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Hello About Page!</h1>
      <p class="col-md-8 fs-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est suscipit velit saepe
        accusamus dolorum sint numquam odio ducimus consectetur repellat, nemo fugiat odit nisi omnis in rem facilis
        harum repellendus. Ipsa deserunt corporis iste!.</p>
      <button class="btn btn-primary btn-lg" type="button">Learn more</button>
    </div>
  </div>

</div>
